* {
    font-family: sans-serif;
    background-image: url("assets/notebook.png");
}

.top-section {
    width: 100%;
    display: inline-block;
}

#timer {
    float: right;
    margin-right: 10px;
    letter-spacing: 0.1em;
    font-weight: bold;
}

#landingPage {
    /* width:38%; */
    align-content: center;
    text-align: center;
    margin: 50px 10px;
    border: 3px solid #575757;
    border-radius: 25px;
    padding: 20px;
    background: white;
    display: inline-block;
}

h1 {
    font-weight: bold;
    margin: 30px 0;
}

h2 {
    font-weight: bold;
    margin: 30px 0;
}

#start {
    background: #CB5858;
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

.container {
    width:50%;
    margin: auto;
    align-content: left;
    text-align: left;
    margin-top: 8%;
}

.ansButton {
    background: #CB5858;
    color: white;
    font-size: 18px;
    margin: 10px 0;
    display: block;
}

.submit {
    background: #CB5858;
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

.scoreButton {
    background: #CB5858;
    color: white;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 10px; 
}

.inputSection {
    width: 150px;
    margin: auto;
}

#initials {
    display: none;    
    width:50%;
    margin: auto;
    align-content: center;
    text-align: center;
    margin-top: 10%;
}

#highScoreDiv {
    display: none;
    width: 50%;
    margin: auto;
    align-content: center;
    text-align: center;
    margin-top: 10%;
}

#scorePageButtons {
    background: #CB5858;
    color: white;
    font-size: 18px;
    display: block;
    margin: 30px auto;
    border-radius: 15px;
    padding: 15px;
}


#whiteBackground {
    background: white;
}

.questions {
    padding: 25px;
    border: 3px solid #575757;
    border-radius: 25px;
    width: 50%;
    margin: 5% auto 0 auto;
    align-content: left;
}

.home {
    display: block;
    margin: auto;
    align-content: center;
    width: 50%;
}

